* {
    box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  grid-area: header;
  background-color:blue;
  padding: 30px;
  text-align: center;
  
}

#box{
	
	border-radius:50%;
	
}

.box{
	border-style: solid;
	

}
.sidebar{
	background-color:gray;

	
	
}

.fa {
	text-align: left;
}
h2{
	text-align: left;
}
h2.maincontent{
	
	text-align: center;
}


.mainlayout {
  display: grid;
  grid-template-areas:
    'header header header header'
	'main menu menu menu';
   
  grid-gap: 10px;
  padding: 10px;
}
.mainlayout > div {
  text-align: center;
  
  font-size: 30px;
}
.box{
	font-size: 30px;
	text
	
	
}
.header { grid-area: header; }
.maincontent { grid-area: menu; }
.sidebar { grid-area: main; }

@media (max-width: 600px) {
  .mainlayout {
    grid-template-areas: 
    'header header header' 
    'main main main main ' 
    'menu menu menu menu' ;
	
  }
}
p{
	text-align:left;
	
}

h3{
	text-align:left;
	
}

li{
	text-align:left;
}
table
{
    border: 1px dashed black;
    }
td
{
    padding: 2px;
    border: 1px solid #E88741;
    }

	#heading
{
    font-weight:bold;
    }